@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-blue-800: #003be2;
  --color-lime-400: #d4ff1a;
  --color-gray-50: #f4f4f4;
  --color-gray-100: #e5e6e8;
  --color-gray-950: #242528;
  --color-gray-400: #b0b0b0;
  --color-gray-700: #4b4c53;
  --color-gray-50: #f5f5f6;
  --color-black-700: #4f4f4f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-poppins);
}

:root {
  color-scheme: light;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --ring: var(--color-blue-800);
}

@utility heading-l {
  font-family: var(--font-heading);
  font-size: 72px;
  line-height: 1.2;
  font-weight: 600;
}
@utility heading-m {
  font-family: var(--font-heading);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 600;
}
@utility heading-s {
  font-family: var(--font-heading);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
}
@utility heading-xs {
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
@utility body-l {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}
@utility body-m {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}
@utility body-s {
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
@utility body-xs {
  font-family: var(--font-sans);
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
}
@utility label-l {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}
@utility label-m {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
@utility label-s {
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}
@utility label-xs {
  font-family: var(--font-sans);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
